html{
	height: 100%;
}

body {
	   margin:0;
   	   padding:0;
	  height: 100%;
}

@media (min-width: 992px) {
  body {
    padding:10px;
   padding-bottom:60px;
  }
}

footer{
	margin:0;
}


/* 
	custom styling
*/
.container{
	min-height:100%;
   position:relative;
}

.wrapper{
	
	min-height:100%;
	position:relative;
}
.content{
	
	padding-bottom:60px;
}

.footer{
	position: absolute;
	bottom: 0;
	margin:0;
	height:60px;
}